@page "/counter"

@code {

}

<div class="flex h-full">
    <div class="bg-stone-900 h-max max max w-max p-4 w-screen md:w-96">
        <div class="divide-y">
            <span class="">Rano</span>
            <ul class="pt-2">
                <li class="flex h-12 border-solid border rounded-3xl border-gray-500 flex items-center justify-between mb-2">
                    <div class="flex">
                        <i style="font-size:large" class="fa-regular fa-heart text-red-600 p-4 "></i>
                        <div class="text-md">
                            <span>
                                Zdrowie
                            </span>
                            <p class="text-gray-400">
                                Suplementy z rana
                            </p>
                        </div>
                    </div>
                    <div class="w-fit">
                        <button class="w-12 h-12 rounded-3xl text-gray-500 hover:text-gray-100 hover:bg-gradient-to-r from-blue-600 to-cyan-600">
                            <i style="font-size:large" class="fa-solid fa-xmark  p-3"></i>
                        </button>
                        <button class="w-12 h-12 bg-gradient-to-r from-blue-600 to-cyan-600 rounded-3xl ">
                            <i style="font-size:large" class="fa-solid fa-check text-gray-100 p-3"></i>
                        </button>
                    </div>
                </li>
                <li class="flex h-12 border-solid border rounded-3xl border-gray-500 flex items-center justify-between">
                    <div class="flex">
                        <i style="font-size:large" class="fa-regular fa-heart text-red-600 p-4 "></i>
                        <div class="text-md">
                            <span>
                                Zdrowie
                            </span>
                            <p class="text-gray-400">
                                Suplementy z rana
                            </p>
                        </div>
                    </div>
                    <div class="w-fit">
                        <button class="w-12 h-12 rounded-3xl text-gray-500 hover:text-gray-100 hover:bg-gradient-to-r from-blue-600 to-cyan-600">
                            <i style="font-size:large" class="fa-solid fa-xmark  p-3"></i>
                        </button>
                        <button class="w-12 h-12 bg-gradient-to-r from-blue-600 to-cyan-600 rounded-3xl ">
                            <i style="font-size:large" class="fa-solid fa-check text-gray-100 p-3"></i>
                        </button>
                    </div>
                </li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
        <div class="divide-y">
            <span class="">Poludnie</span>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
    </div>
</div>

