@inject State state;

@code {
    protected override void OnInitialized()
    {
        state.StateChanged += StateChangeEvent;

        base.OnInitialized();
    }

    public void StateChangeEvent(object sender, EventArgs args)
    {
        StateHasChanged();
    }


}

<div class="h-14 flex fixed w-screen flex-row justify-end pl-4 pr-4 bg-zinc-50">
    <div class="flex items-center ">
        <img src="Images/logo.svg" class="w-16 h-16 mb-1" alt="My Happy SVG" />
    </div>
</div>

